//==============================================
// Module/forms
//============================================== 

.m-form {

    &-title {
        text-align: center;
    }

    &-login, &-reservation {
        padding-bottom: 60px;
    }

    &__label {
        display: block;
        margin: 25px auto 10px 0;
    }
}