//==============================================
// Module/forms
//============================================== 

.m-form {

    &-login {
        padding-bottom: 60px;
    }

    &__label {
        display: block;
        margin: 25px auto 10px 0;
    }
}