//==============================================
// Module/nav
//==============================================

.m-nav {
	padding: $padding;
	display: flex;
	.navigation {
		@include reset-list;
		display: flex;
		justify-content: space-between;
	}
	&__item {
		padding-right: 15px;
	}
}