        <footer class="l-footer">
            <div class="container">
                <div class="copyright">
                    <p>Copyright &copy;2018 by Me with &hearts;</p>
                </div>
                <div class="social">
                    <img src="assets\img\svg\sprite.svg" alt="" srcset="">

                    <img src="assets\img\svg\facebook-box.svg" alt="" srcset="">
                </div>
            </div>
        </footer>
        
        <div class="m-cookies"></div>
        
        <script src="assets/js/bundle.js"></script>

    </body>
</html>