<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Restaurant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="images/fav.png"> -->

        

        <link rel="apple-touch-icon" sizes="180x180" href="assets\img\favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets\img\favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets\img\favicon/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <!-- Normalize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <!-- Modernizr -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async defer></script>

        <link rel="stylesheet" href="/assets/css/bundle.css">
    </head>
    <body>
       	<header class="l-header" id="top">
            <div class="container l-header__container">
                <div class="m-logo">
                    <a href="#top" class="m-logo__link">
                        <img src="assets\img\logo\logo.png" alt="Visit US" class="m-logo__img" title="Visit US">
                    </a>
                </div>
                <nav class="m-nav">
                    <ul class="navigation">
                        <li><a data-scroll href="#login" class="m-nav__item">Login</a></li>
                        <li><a data-scroll href="#about" class="m-nav__item">About</a></li>
                        <li><a data-scroll href="#menu" class="m-nav__item">Menu</a></li>
                        <li><a data-scroll href="#reservation" class="m-nav__item">Reservation</a></li>
                        <li><a data-scroll href="#contacts" class="m-nav__item">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </header>