<div class="container">
  <div class="l-container l-container-form" id="login">
          <form action="" class="m-form m-form-login">
                  <h1>Log In</h1>      
                  <label class="m-form__label">Login
                          <input type="text" name="login" placeholder="Введите логин" title="Не меньше четырех символов" class="int">
                  </label>
                  <label class="m-form__label">Phone Number
                          <input type="number" max="10" name="phone" placeholder="Введите номер телефона" title="Десять цифр" class="int">
                  </label>
                  <label class="m-form__label">Password
                          <input type="password" name="password" placeholder="Введите пароль" class="int">
                  </label>
                  <button class="btn btn-default btn-check-login" type="submit">Log in</button>
                  <button data-scroll href="#menu" class="btn btn-primary btn-skip-login">Skip</button>
          </form>
          <div class="message"></div>
  </div>
</div>