//==============================================
// Layout/aside
//============================================== 

.l-container {
    padding-top: $header-height;
    
    &-form {
        width: 50%;
        margin: 0 auto;
    }
}