//==============================================
// Layout/sections
//============================================== 

.l-section {
    background-color: #ccc;
    padding-top: $header-height;

    &::after {
        content: '';
        border-bottom: 2px solid #000;
    }
}

